.chart-container {
    max-width: 580px;
    margin: 3rem auto;

    @media (min-width: 64em) {
        margin: 4rem auto;
    }

    .chart-heading {
        @include size(18);

        @media (min-width: 46em) {
            margin-left: 3rem;
        }

        @media(min-width: 75em) {
            @include size(21);
        }
    }

    .no-js & {
        display: none;
    }
}

.bar-chart {
    
    .chart-items {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 3em;


        @media (min-width: 46em) {
            position: relative;
            padding-left: 3rem;

            &::before {
                content: '';
                display: block;
                @include wh(30, 50);
                background-image: url('#{$img_path}/etnetera-ampersand.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                position: absolute;
                left: 0;
                bottom: 0;

                @media (min-resolution: 192dpi) {
                    background-image: url('#{$img_path}/etnetera-ampersand@2x.png');
                }
            }

            &::after {
                content: '';
                @include icon(clock, 20, 20);
                position: absolute;
                bottom: -2.25rem;
                left: .125rem;
            }
        }

        @media (min-width: 64em) {
            margin-bottom: 4rem;
        }
    }

    .bar-container {
        width: 20px;
        position: relative;

        .bar {
            height: 100%;
            //background: grey;
            position: relative;
            display: flex;

            .fill {
                width: 100%;
                margin-top: auto;
            }
        }
        
        .time {
            @include size(10);
            @include weight(bold);
            display: inline-block;
            position: absolute;
            bottom: -2rem;
            right: 50%;
            transform: translateX(50%) rotate(-90deg);

            @media (min-width: 46em) {
                @include size(12);
            }

            @media (min-width: 64em) {
                @include size(13);
            }
        }

        &:nth-child(even) {
            
            .time {
                @include sr_text;
            }
        }
    }

    .legend {

        @media (min-width: 46em) {
            margin-left: 3rem;
        }

        > ul {
            @include no_list;

            @media (min-width: 37em) {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
            }

            > li {
                @include size(12);
                padding: .25rem 0 0 1.125rem;
                position: relative;

                @media (min-width: 64em) {
                    @include size(13);
                    padding-left: 1.75rem;
                }

                &::before {
                    content: '';
                    display: block;
                    @include wh(12, 12);
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-40%);

                    @media (min-width: 64em) {
                        @include wh(18, 18);
                        transform: translateY(-35%);
                    }
                }

                &.low {

                    &::before {
                        @include bg_color(chart_light);
                    }
                }

                &.medium {

                    &::before {
                        @include bg_color(chart_medium);
                    }
                }

                &.high {

                    &::before {
                        @include bg_color(chart_dark);
                    }
                }

                &:not(:last-child) {
                    margin-right: 1.5rem;
                }
            }
        }
    }

    &.style_round {

        .fill {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
}

.bar-chart_fallback {
    display: none;

    .no-js & {
        display: block;
        padding: 0;
        margin: 0;
        text-align: center;
    }
}