@import "owl.carousel";

.home-carousel {
    position: relative;

    .item {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 2rem 0 5rem 0;

        @media (min-width: 48em) {
            padding: 3rem 0 5rem 0;
        }

        @media (min-width: 64em) {
            padding: 4rem 0 6rem 0;
        }

        @media (min-width: 68em) {
            padding: 4rem 0;
        }

        @media (min-width: 75em) {
            padding: 5rem 0;
        }
        
        .item__inner {
            @include container;
        }

        .item__header {

            .item__heading {
                text-shadow: 2px 2px 5px color(shadow);
                margin: 0;

                @media (min-width: 90em) {
                    @include size(48);
                }
            }
        }

        .item__content {
            max-width: 630px;
            @include weight(light);
            
            @media (min-width: 75em) {
                @include size(18);
            }

            @media (min-width: 90em) {
                @include size(20);
            }
        }

        .item__more {
            margin-top: 1.5rem;

            @media (min-width: 68em) {
                text-align: right;
                margin-top: 0;
            }
        }

        .no-js & {
            padding: 2rem 0;

            @media (min-width: 48em) {
                padding: 3rem 0;
            }

            @media (min-width: 64em) {
                padding: 4rem 0;
            }

            &:not(:first-of-type) {
                display: none;
            }
        }
    }

    @for $i from 1 through 3 {

        #slide_#{$i} {
            @include slide_bg(#{$i});
        }
    }

    .owl-nav {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;

        @media (min-width: 68em) {
            width: 100%;
            //height: 26px;
            top: 45%;
            transform: translateY(-50%);
            left: 0;
            bottom: initial;
        }

        @media (min-width: 75em) {
            //height: 41px;
        }

        @media (min-width: 90em) {
            //height: 54px;
        }

        > button {
            transition: transform .2s ease-in;

            @media (min-width: 68em) {
                position: absolute;
                top: 0;
            }
        }

        .owl-prev {
            padding: 0;
            margin: 0 .5rem 0 0;

            @media (min-width: 68em) {
                left: 2rem;
            }

            @media (min-width: 75em) {
                left: 3rem;
            }

            .arrow-prev {
                @include icon(arrow-left, 14, 26);

                @media (min-width: 75em) {
                    @include wh(22, 41)
                }

                @media (min-width: 90em) {
                    @include wh(30, 54)
                }
            }

            @media (min-width: 64em) {

                &:hover {
                    transform: translateX(-.25rem);
                }
            }
        }

        .owl-next {
            padding: 0;
            margin: 0 0 0 .5rem;

            @media (min-width: 68em) {
                right: 2rem;
            }

            @media (min-width: 75em) {
                right: 3rem;
            }

            .arrow-next {
                @include icon(arrow-right, 14, 26);

                @media (min-width: 75em) {
                    @include wh(22, 41)
                }

                @media (min-width: 90em) {
                    @include wh(30, 54)
                }
            }

            @media (min-width: 64em) {

                &:hover {
                    transform: translateX(.25rem);
                }
            }
        }
    }
}