/* ---------------------------------
  Variables
---------------------------------- */

// Zakladni
$white: #fff;
$black: #000;

// Brand
$etnetera_orange: #e84d0f;

// Text
$mine_shaft: #262626;

// Pozadi
$peach_orange: #ffc59b;
$tan_hide: #f88c6c;

// Sede
$concrete: #f2f2f2;
$boulder: #7d7d7d;
$tundora: #464646;

// Utility
$green: #4CAF50;
$blue: #2196F3;
$red: #F44336;
$orange: #FF9800;

// Odstiny

// Dalsi
$white_overlay: rgba($white, .8);
$black_shadow: rgba($black, .5);


/* ---------------------------------
  Maps
---------------------------------- */

$colors: (
  primary: $etnetera_orange,
  text: $black,
  text_intro: $mine_shaft,
  text_faded: $boulder,
  body: $concrete,
  content_bg: $concrete,
  tooltip_bg: $tundora,
  chart_light: $peach_orange,
  chart_medium: $tan_hide,
  chart_dark: $etnetera_orange,
  slide_overlay: $white_overlay,
  shadow: $black_shadow,
  black: $black,
  white: $white
);


/* ---------------------------------
  Functions
---------------------------------- */

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn '`#{$key}` neni v $colors.';
  @return null;
}


/* ---------------------------------
  Mixins
---------------------------------- */

@mixin color($value) {
  color: color(#{$value});
}

@mixin bg_color($value) {
  background-color: color(#{$value});
}


/* ---------------------------------
  Styly
---------------------------------- */


// Background Colors


// Text Colors
