/* ---------------------------------
  Variables
---------------------------------- */
$font_path: "../fonts";
$open_sans: 'Open Sans', sans-serif; // 300, 300i, 400, 400i, 700, 700i


/* ---------------------------------
  Funkce
---------------------------------- */

@function font($key) {
  @if map-has-key($font-families, $key) {
    @return map-get($font-families, $key);
  }

  @warn '`#{$key}` neni v $font-families.';
  @return null;
}


/* ---------------------------------
  Maps
---------------------------------- */

$font-families: (
  default: $open_sans
);


/* ---------------------------------
  Mixiny
---------------------------------- */

@mixin family($value) {
  font-family: font(#{$value});
}
