// Clearfix
@mixin clearfix {
  zoom: 1;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}


// Container
$container_max_width: 960px;
$container_padding: 2rem;

@mixin container ($max-width: $container_max_width, $padding: $container_padding) {
  margin: 0 auto;
  max-width: $max-width;
  padding-left: $container_padding;
  padding-right: $container_padding;
  position: relative;
}

@mixin flex_container ($direction: row, $wrap: wrap, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;

  .no-flexbox & {
    @include clearfix;
  }
}

@mixin flex_item ($width: initial, $float: left) {
  flex: $width;
  max-width: $width;

  .no-flexbox & {
    display: inline-block;
    width: $width;
    float: $float;
  }
}

.container {
  @include container;
}

#wrapper {
  min-height: calc(100vh - 100px);

  @media (min-width: 64em) {
    min-height: calc(100vh - 141px);
  }
}

.block {
  display: block;
}