.site-header {
    padding: 1rem 0;
    @include bg_color(white);
    position: relative;
    z-index: 3;

    @media (min-width: 64em) {
        padding: 1.5rem 0;
    }

    @media (min-width: 75em) {
        padding: 2rem 0;
    }

    > .site-header__inner {
        @include container(1300px);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        
        .logo-container {

            .site-logo {
                margin: 0;
                
                > a {
                    @include logo(150, 50);
                    transition: opacity .3s ease;

                    &:hover {
                        opacity: .5;
                    }

                    .no-js & {
                        
                        @media (max-width: 735px) {
                            margin: 0 auto;
                        }
                    }
                }
            }
        }

        .nav-container {

        }

        .no-js & {
            
            @media (max-width: 736px) {
                display: block;
            }
        }
    }
}