a {
    &:not(.button) {
        @include color(primary);
        text-decoration: none;
        transition: .2s ease-in;

        @media (min-width: 64em) {

            &:hover {
                text-decoration: underline;
            }
        }

        &:active {
            @include color(text);
        }
    }
}

#toggle-nav {
    display: block;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    @include wh(30, 25);
    padding: 0;
    margin: 0;
    position: relative;

    > .hamburger {
        display: block;
        @include wh(30, 3);
        @include bg_color(text);

        &::before {
            content: '';
            display: block;
            @include wh(30, 3);
            @include bg_color(text);
            position: absolute;
            top: 0;
            left: 0;
            transform-origin: 50% 50%;
            transition: transform .3s ease-in;
        }

        &::after {
            @extend .hamburger::before;
            top: initial;
            bottom: 0;
        }
    }

    &.active {

        .hamburger {

            &::before {
                transform: translateY(11px);
            }
    
            &::after {
                transform: translateY(-11px);
            }
        }
    }
}

.button {
    display: inline-block;
    text-decoration: none;

    &.button_regular {
        @include color(primary);
        @include bg_color(white);
        border-radius: 25px;
        padding: .75rem 2.5rem;
        border: 1px solid color(primary);
        transition: color .2s ease-in, background-color .2s ease-in, transform .1s ease-in;
        transform-origin: 50% 50%;

        @media (min-width: 75em) {
            padding: 1rem 3.5rem;
        }

        &:hover {
            @include bg_color(primary);
            @include color(white);
        }

        &:active {
            transform: scale(0.97);
        }
    }
}